<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="" width="device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="" ie="edge">
    <title>Whiskybase</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
<div class="hero-bg">
    <section class="top">
        <header>
            <i><a>Whiskeybase</a></i>

            <nav>
                <a href="/">home</a>
                <a href="/market">market</a>
                <a href="/search">search</a>

            </nav>
        </header>
        <h1>Get familiar <span>with whiskey</span></h1>

        <h1>We would love you to deliver you the best whiskey and make your dreams come true...</h1>

        <div class="form-container">
            <form action="">
                <div class="form-left">
                    <label for="whiskey brand">Enter your delicious whiskey:</label>
                    <input type="text" name="whiskey brand" id="whiskey brand">
                    <p>Example: "Longrow 13-year-old"</p>
                </div>
                <input type="button" value="Find Whiskey, do it NOW! ">
            </form>
    </section>
</div>
<section class="authentic">
    <div class="right-col">
        <h2>Be Authentic</h2>
        <p>Delicious it is!</p>
    </div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/The_scotch_whisky_experience_%28Ank_Kumar%2C_infosys_limited_%29_04.jpg/640px-The_scotch_whisky_experience_%28Ank_Kumar%2C_infosys_limited_%29_04.jpg"
         alt="Here is your beautiful barell">
</section>

</body>
</html>